@use '../../function' as *;
@use '../../variables' as *;
@use '../../mixins' as *;

.message {
    margin-top: rem(64);
    margin-bottom: rem(120);
    text-align: center;
    overflow: hidden;

    &__title,
    &__description {
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        @include headingsTypography(h4);
        color: $dark-navy;
        max-width: rem(311);
    }

    &__description {
        margin-top: rem(32);
        margin-bottom: rem(32);
        max-width: rem(573);
    }

    &__btn {
        cursor: pointer;
    }
}

/* ================= Breakpoints (tablet) ================= */
@include breakpoint-up(medium) {
    .message {
        margin-top: rem(72);
        margin-bottom: rem(72);

        &__title {
            @include headingsTypography(h2);
        }

        &__description {
            margin-top: rem(40);
            margin-bottom: rem(40);
        }
    }
}

/* ================= Breakpoints (desktop) ================= */
@include breakpoint-up(large) {
    .message {
        margin-top: rem(122);
        margin-bottom: rem(122);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        &__title,
        &__description {
            margin: 0;
        }

        &__description {
            max-width: rem(445);
        }
    }
}

/*
            <!-- ======================= Message =======================  -->
            <section class="message container">
                <h2 class="message__title">Your City Not Listed?</h2>

                <p class="message__description">
                    If you’d like to see Scoot in your hometown, be sure to let us know. We track requests and
                    plan launches based on demand. Feel free to message us by clicking the link or messaging
                    us on social.
                </p>

                <a class="message__btn btn">Message Us</a>
            </section>

@mixin headingsTypography($h) {
    @if $h == h1 {
        font-size: rem(56);
        line-height: rem(56);
        letter-spacing: rem(-2.5);
    } @else if $h == h2 {
        font-size: rem(48);
        line-height: rem(48);
        letter-spacing: rem(-2.14);
    } @else if $h == h3 {
        font-size: rem(40);
        line-height: rem(48);
        letter-spacing: rem(-1.79);
    } @else if $h == h4 {
        font-size: rem(32);
        line-height: rem(32);
        letter-spacing: rem(-1.43);
    } @else if $h == h5 {
        font-size: rem(24);
        line-height: rem(28);
        letter-spacing: rem(-1.07);
    } @else if $h == h6 {
        font-size: rem(20);
        line-height: rem(28);
        letter-spacing: rem(-0.89);
    }
}

*/
