@use '../../function' as *;
@use '../../variables' as *;
@use '../../mixins' as *;

.faqs {
    margin: rem(120) 0;
    color: $dark-navy;

    &__title {
        @include headingsTypography(h4);
        margin-bottom: rem(48);
        text-align: center;
    }

    .container,
    &__category,
    &__category-body {
        display: grid;
    }

    .container {
        gap: rem(48);
    }

    &__category {
        gap: rem(32);
    }

    &__category-title {
        @include headingsTypography(h5);
        text-align: center;
    }

    &__category-body {
        gap: rem(16);
    }
}

/* ============= faq active style ============*/
.faq.active .faq__answer {
    display: grid;
}
.faq.active .faq__arrow {
    transform: rotate(0);
}

.faq {
    display: grid;
    row-gap: rem(24);
    padding: rem(32);
    background-color: $snow;
    cursor: pointer;

    &:hover {
        background-color: $light-yellow;
    }

    &__qa-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(8);
    }

    &__question {
        font-size: rem(18);
        line-height: rem(24);
        letter-spacing: rem(-0.8);
    }

    &__arrow {
        transform: rotate(180deg);
    }

    &__answer {
        display: none;
        color: $dark-navy;
    }
}

/* ================= Breakpoints (tablet) ================= */
@include breakpoint-up(medium) {
    .faqs {
        &__title {
            @include headingsTypography(h3);
            margin-bottom: rem(64);
        }

        .container {
            gap: rem(64);
        }

        &__category-title {
            @include headingsTypography(h3);
        }

        &__category-body {
            gap: rem(24);
        }
    }

    .faq {
        &__question {
            @include headingsTypography(h5);
        }
    }
}

/* ================= Breakpoints (desktop) ================= */
@include breakpoint-up(large) {
    .faqs {
        &__category {
            grid-template-columns: 30% auto;
        }

        &__category-title {
            text-align: left;
        }
    }
}
