@use '../function' as *;
@use '../variables' as *;
@use '../mixins' as *;

main {
    padding-top: rem(68);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
}

header.scrolled {
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.13);
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;

    &__menu--close,
    &__menu--open {
        position: absolute;
        display: inline-block;
        cursor: pointer;
    }

    &__menu--close,
    &__desktop-nav {
        display: none;
    }

    &__logo {
        margin: 0 auto;
        width: rem(75.5);
    }

    // background overlay
    &.active-menu::before,
    &.active-menu &__menu {
        left: 0;
    }

    &::before {
        content: '';
        position: fixed;
        top: rem(68);
        left: -100vw;
        width: 100vw;
        height: calc(100vh - rem(68));
        background-color: rgba(#000, 0.75);
        z-index: -1;
        transition: 0.4s;
        z-index: 5;
    }

    &__menu {
        position: fixed;
        top: rem(68);
        left: -100vw;
        height: calc(100vh - rem(68));
        background-color: $dark-navy;
        padding: 4rem 2rem 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: rem(18);
        transition: 0.4s;
        z-index: 10;
    }

    &__list {
        display: grid;
        gap: 1.5rem;
    }

    &__link {
        display: block;
        color: $light-grey;
    }
}

/* ================= Breakpoints (tablet and up) ================= */
@include breakpoint-up(medium) {
    main {
        padding-top: rem(101);
    }

    .nav {
        gap: rem(58);

        &__menu--close,
        &__menu--open,
        &::before,
        &__menu {
            display: none !important;
        }

        &__logo {
            margin: 0;
            width: rem(107);
        }

        &__desktop-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__desktop-list {
            display: flex;
            gap: 2rem;
        }
    }
}
