@use 'variables' as *;
@use 'function' as *;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Space Mono', monospace;
}

p {
    font-family: 'Lexend Deca', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    font-size: rem(15);
    font-weight: 700;
    color: $dim-grey;
    text-decoration: none;
}

a:hover {
    color: $yellow;
}

/* ======================== Reusable Classes ======================== */
.container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(rem(1110) + 4rem);
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 53px;
    font-size: 15px;
    color: #fff;
    background-color: $yellow;
    border: 3px solid $yellow;
    transition: 0.2s;

    &:hover {
        color: $yellow;
        background-color: transparent;
    }
}

.absolute {
    position: absolute;
}
